.dialogsItems a{
    /* padding: 10px; */
    color: azure;
    text-decoration: none;
    
}

.dialogs {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    /* padding: 10px; */
    color: azure;
}
