.dialogsItems a{
    color: azure;
    text-decoration: none;
}

.dialogs {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    color: azure;
}

.dialog img {
    width: 50px;
    border-radius: 30px;
}
