.header {
    grid-area: h;
    background-color: rgb(68, 125, 247);
  }
  .header img {
    
    width: 116px;
  }
  
  .loginBlock {
    padding: 10px;
    float: right;
  }

  .loginBlock a {
    padding: 10px;
    color: azure;
    text-decoration: none;
  }