.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    /* grid-template-areas:
    "d m"
    "d a" */
}

.dialogsItems a{
    /* padding: 10px; */
    color: azure;
    text-decoration: none;
    
}

.dialogs {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

/* .addText {
    grid-area: a;
} */

.dialog {
    /* padding: 10px; */
    color: azure;
}

.messages .message {
    /* color: white; */
}