.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a{
    color: azure;
    text-decoration: none;   
}

.dialogs {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}


.dialog {
    color: azure;
}
