.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a{
    padding: 10px;
    color: azure;
    text-decoration: none;
    
}

.dialogs {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    /* padding: 10px; */
    color: azure;
}

.messages .message {
    /* color: white; */
}