.nav {
    grid-area: n;
    width: 120px;
    background-color: rgb(100, 76, 211);
  }

  .item {
    color:rgb(255, 255, 255);
    text-shadow:  1px 1px 1px rgb(4, 79, 255),
                  2px 2px 1px rgb(0, 0, 0);
  }

  .item.active {
    color: gold;
    text-shadow:  1px 1px 1px rgb(244, 140, 4),
                  2px 2px 1px red;
  }